.sign-in-container {
    min-height: 100%;
    min-width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .sign-in-prompt {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 50px 10px 50px 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
  }
  
  .sign-in-logo {
    width: 75px;
    height: 75px;
    margin: 10px 0px 20px 0px;
  }
  
  .sign-in-text {
    text-align: center;
    padding: 20px 0px 40px 0px;
    margin: auto;
    width: 80%;
  }
  